<div class="top-bg">
  <div class="container">
    <div class="row hidden-sm hidden-xs">
      <nav>
        <div class="col-md-3"><%= image_tag("calmail_logo.png", :alt => "logo") %></div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="row hidden-md hidden-lg">
      <nav>
        <div class="col-sm-12 small-align"><%= image_tag("calmail_logo.png", :alt => "logo") %></div>
      </nav>
    </div>

    <div class="row">
      <h1>a summarization of your day's meetings<br>
        in a clean daily email digest</h1>
    </div>

    <div class="row">
      <div class="date"><span id="spanDate">October 9, 2014</span></div>
      <div class="letter"><%= image_tag("letter.png", :alt => "logo") %></div>
    </div>
  </div>
</div>

<div class="body-text">
  <div class="container">
    <div class="row">
      <%= link_to(image_tag("google.png"), user_omniauth_authorize_path(:google_oauth2)) %>
    </div>
  </div>

  <div class="row">
    <h1>Welcome to Calmail</h1>
      <p> Calmail would integrate with your calendar to send a summarization of your day's meetings in a clean<br> daily email digest. Each digest could help you recall the action items for the day, easily create<br>follow-up reminders, and could be archived &amp; searched for later all from your favorite mail client.</p>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <%= image_tag("calmail_logo.png", :alt => "logo") %>
      <ul class="footer-links">
        <li><a href="#">About Us</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. © 2014 Mauris feugiat turpis ut ante hendrerit consectetur.</p>
    </div>
  </div>

<script type="text/javascript">
  var months = ['January','February','March','April','May','June','July',
                'August','September','October','November','December'];       
  var tomorrow = new Date();
  tomorrow.setTime(tomorrow.getTime() + (1000*3600*24));       
  document.getElementById("spanDate").innerHTML = months[tomorrow.getMonth()] + " " + tomorrow.getDate()+ ", " + tomorrow.getFullYear();
</script>
